<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mibaldi.kidbeaconmvp">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />

    <uses-permission android:name="android.permission.NFC" />

    <application
        android:name=".application.KidBeaconApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.Activities.GoogleSignInActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.Activities.ListGroupsActivity" android:screenOrientation="portrait"
            android:parentActivityName=".ui.Activities.GoogleSignInActivity"/>
        <activity android:name=".ui.Activities.BeaconSettingsActivity" android:screenOrientation="portrait" />
        <activity
            android:name=".ui.Activities.GroupSettingsActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.Activities.GroupSingleActivity" android:screenOrientation="portrait" />
        <activity android:name=".ui.Activities.ListBeaconsActivity" android:screenOrientation="portrait" />
        <activity android:name=".ui.Activities.ListBeaconsRastreatorActivity" android:screenOrientation="portrait" />
        <activity android:name=".ui.Activities.NfcActivity" android:screenOrientation="portrait"></activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="ff1c2189b92aa493cd60d97569bcd6baf9715047" />
    </application>

</manifest>